---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import AboutUs from "../components/AboutUs.astro";
import GalleryIsland from "../components/GalleryIsland.tsx";
import SongfessIsland from "../components/SongfessIsland.tsx";
import Footer from "../components/Footer.astro";
import dotenv from "dotenv";
dotenv.config();

const aboutUsImages = Array.from({ length: 13 }, (_, i) =>
  `/assets/images/photos/photo-${i + 1}.jpg`
);
---

<BaseLayout>
  <Header />

  <section id="home">
    <Hero />
    <Marquee />
  </section>

  <section id="about-us">
    <AboutUs items={aboutUsImages} />
  </section>

  <section id="gallery" class="min-h-screen bg-gray-950 py-12 px-4 md:px-8 lg:px-16">
    <h2 class="text-3xl md:text-4xl font-extrabold mb-6 text-white">Memories</h2>
    <GalleryIsland client:visible apiUrl=`${process.env.API_URL}/gallery`` />
  </section>

  <section id="songfess" class="min-h-screen bg-gray-900 py-12 px-4 md:px-8 lg:px-16">
  <h2 class="text-3xl md:text-4xl font-extrabold mb-6 text-white">Songfess</h2>
  <SongfessIsland client:visible apiUrl={`${process.env.API_URL}/songfess`} />
</section>


  <Footer />
</BaseLayout>
