<nav class="bg-slate-900 text-gray-100 w-full z-50 shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between h-20 items-center">
    <div class="flex items-center shrink-0 space-x-3">
      <img src="/assets/images/LOGO-TKJ2 FIXED.png" alt="Logo" class="h-14 object-contain" />
      <h1 class="text-3xl font-extrabold">
        <span class="bg-linear-to-r from-purple-500 via-cyan-400 to-cyan-500 bg-clip-text text-transparent">XI</span>
        <span class="bg-linear-to-r from-yellow-500 via-yellow-300 to-yellow-500 bg-clip-text text-transparent"> TKJ</span>
        <span class="bg-linear-to-r from-cyan-500 via-cyan-400 to-purple-500 bg-clip-text text-transparent"> 2</span>
      </h1>
    </div>
    <div class="hidden md:flex space-x-6 font-bold">
      <a href="#home" class="hover:text-yellow-500">Home</a>
      <a href="#about-us" class="hover:text-yellow-500">About</a>
      <a href="#schedule" class="hover:text-yellow-500">Schedule</a>
      <a href="#gallery" class="hover:text-yellow-500">Memories</a>
      <a href="#achievements" class="hover:text-yellow-500">Achievements</a>
    </div>
  </div>
</nav>
